/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    margin: 0 auto;
}

ol,
ul,
menu {
    list-style: none;
}



/* STYLE */


.container {
    max-width: 1024px;
    margin: 0 auto;
}



/* DEBUG */

.debug .container {
    border: 2px solid red;
    padding: 20px;
}